div#notifyContainer {
    position: fixed;
    top: 10px;
    overflow: hidden;
    width: 100%;
}

div.notification {
    position: relative;
    color: black;
    background: rgba(189, 189, 189, 0.8);
    width: 80vw;
    padding: 12px;
    margin: 0 auto 10px;
    font-weight: bold;
    border-radius: 10px;
    animation: fadeInLeft 0.5s;

    &.error {
        color: white;
        background: rgba(241, 58, 58, 0.80);
    }

    &.success {
        color: white;
        background: rgba(73, 204, 33, 0.8);
    }

    &.dismissed {
        animation: fadeOutRightBig 0.5s;
    }
}
