.titleBar {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(242, 242, 242);
    width: 100%;

    div {
        display: inline-block;
        vertical-align: middle;

        &.titleContainer {
            padding-left: 10px;
        }

        &.btnContainer {
            position: absolute;
            right: 0;
            top: 25%;
            padding-right: 10px;

            div {
                margin: 0 5px;
                -webkit-app-region: no-drag;
                cursor: pointer;
            }
        }

        &#closeBtn {
            i {
                font-size: 16px;
            }
        }

        &#minimizeBtn {
            i {
                font-size: 14px;
            }
        }
    }
}
