.containerAlt {
    text-align: center;
    margin-top: 25vh;
}

.loginContainer input {
    font-family: Poppins;
    outline: none;

    &[type="text"],
    &[type="password"] {
        display: block;
        padding: 10px 8px;
        margin: 10px auto;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 8px #B5B5B5;
        transition: box-shadow 0.5s;

        &.error {
            box-shadow: 0 0 8px rgb(218, 47, 47) !important;
        }

        &:focus {
            border-color: #01C5FF;
            box-shadow: 0 0 8px #129BFF;
        }
    }

    &[type="submit"] {
        padding: 8px 35px;
        border: none;
        border-radius: 6px;
        background: #20D3FF;
        color: white;
        font-size: 14px;
        font-weight: bolder;
        transition: background-color 0.5s;
        margin-top: 10px;

        &:hover {
            background: #A826F6;
        }

        &:disabled {
            background: #949191;
        }
    }
}
