.btnPanel {
    margin-bottom: 10px;
}

.cardButton {
    $btnBackground: white;
    $btnForeground: rgb(30, 144, 255);

    display: inline-block;
    border-radius: 50%;
    background: white;
    border: 2px solid rgb(214, 214, 214);
    margin: 0 10px;
    width: 45px;
    height: 45px;
    transition: background-color 0.5s;
    text-align: center;

    i {
        transition: color 0.2s;
        font-size: 22px;
        color: $btnForeground;
        vertical-align: middle;
        margin: auto;
        width: 20px;
        height: 20px;
    }

    &:hover {
        background: $btnForeground;

        i {
            color: $btnBackground;
        }
    }

    &:active {
        background: lighten($color: $btnForeground, $amount: 15);

        i {
            color: lighten($color: $btnBackground, $amount: 15);
        }
    }

    &:first-of-type {
        margin-left: 0;
    }

    &:first-of-type {
        margin-right: 0;
    }
}
