.titleBar {
    -webkit-app-region: drag;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 7px;
    left: 12px;
    background: rgb(242, 242, 242);
    width: 100%;

    div {
        display: inline;
        vertical-align: middle;
        margin: 0 5px;
        -webkit-app-region: no-drag;
        cursor: pointer;

        &#closeBtn {
            i {
                font-size: 16px;
            }
        }

        &#minimizeBtn {
            i {
                font-size: 14px;
            }
        }
    }
}
