.infoIcon {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: linear-gradient(to right bottom, rgb(49, 84, 241), cyan);

    h1 {
        color: white;
        vertical-align: middle;
        font-size: 36px;
    }
}
