@import '../global';
@import '../titleBar';
@import '../notify';
@import 'keyframes';
@import 'cards';
@import 'cardContainers';
@import 'cardButtons';
@import 'settings';

body {
    margin: 50px 20px 20px;
}

.beta-badge {
    color: white;
    background: rgb(236, 31, 31);
    font-size: 14px;
    padding: 4px 9px;
    border-radius: 6px;
    margin-left: 18px;
    vertical-align: middle;
    box-shadow: $defaultShadow;

    &::before {
        content: "Beta";
        text-transform: uppercase;
    }
}

.title-big {
    font-size: 38px;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    min-width: 350px;

    span:first-of-type {
        color: rgb(241, 107, 102);
    }
}

.statusBar {
    text-align: left;

    h1, .profileInfo {
        display: inline-block;
        vertical-align: middle;
    }

    .profileInfo {
        text-align: right;
        box-sizing: border-box;
        width: 66%;
        display: inline-block;
        min-width: 400px;

        h1 {
            font-size: 22px;
            font-weight: normal;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 15px;
            vertical-align: middle;
            transition: transform 0.3s;
            -webkit-user-drag: none;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .btnRefresh {
        vertical-align: middle;
        transition: transform 0.2s, background-color 0.5s;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        font-size: 24px;
        color: white;
        background: rgb(31, 130, 243);
        cursor: pointer;

        &.disabled {
            background: rgb(202, 202, 202) !important;
            color: rgb(151, 151, 151) !important;
            transform: none !important;
            cursor: default !important;
        }

        &:hover {
            transform: rotate(180deg);
            background: rgb(0, 183, 255);
        }
    }
}

.no-info {
    margin: auto;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
    animation: fadeInDown 0.5s;

    i {
        font-size: 48px;
    }

    p {
        font-size: 24px;
        font-weight: 500;
    }
}

.checkContainer input {
    vertical-align: middle;
}

.warn {
    color: red;
    font-weight: bold;
}

.contextMenu {
    display: none;
    position: absolute;
    min-width: 200px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 8px;
}

.update {
    display: inline-block;
    vertical-align: middle;
    animation: glow 1.5s alternate infinite;
    width: 95px;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;

    span {
        vertical-align: middle;
        margin: auto;
        color: white;
        font-size: 12px;

        i {
            animation: dots 1.4s infinite;
            animation-fill-mode: both;
            font-style: normal;
            font-size: 1.3em;

            &:nth-child(2) {
                animation-delay: 0.2s;
            }
            
            &:nth-child(3) {
                animation-delay: 0.4s;
            }
        }

        &::after {
            animation: dots 1s infinite;
        }
    }
}
