@import '../global';
@import '../keyframes';
@import '../titleBar';
@import '../notify';
@import 'cards';
@import 'cardContainers';
@import 'cardButtons';

.beta-badge {
    color: white;
    background: rgb(236, 31, 31);
    font-size: 14px;
    padding: 4px 9px;
    border-radius: 6px;
    margin-left: 18px;
    vertical-align: middle;
    box-shadow: $defaultShadow;

    &::before {
        content: "Beta";
        text-transform: uppercase;
    }
}

.title-big {
    font-size: 38px;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    min-width: 350px;

    span:first-of-type {
        color: rgb(241, 107, 102);
    }
}

.statusBar {
    text-align: left;

    h1, .profileInfo {
        display: inline-block;
        vertical-align: middle;
    }

    .profileInfo {
        text-align: right;
        box-sizing: border-box;
        width: 66%;
        display: inline-block;
        min-width: 400px;

        h1 {
            font-size: 22px;
            font-weight: normal;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 15px;
            vertical-align: middle;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .btnRefresh {
        vertical-align: middle;
        transition: transform 0.2s, background-color 0.5s;
        border-radius: 50%;
        padding: 10px;
        margin-right: 50px;
        font-size: 24px;
        color: white;
        background: rgb(31, 130, 243);
        cursor: pointer;

        &.disabled {
            background: rgb(202, 202, 202) !important;
            color: rgb(151, 151, 151) !important;
            transform: none !important;
            cursor: default !important;
        }

        &:hover {
            transform: rotate(180deg);
            background: rgb(0, 183, 255);
        }
    }

    .btnSignOff {
        $bgColor: rgb(247, 75, 75);

        cursor: pointer;
        display: inline-block;
        color: $bgColor;
        background: white;
        margin-right: 25px;
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        border-radius: 7px;
        padding: 5px 10px;
        transition: background-color 0.5s, color 0.3s;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.158);

        &:hover {
            color: white;
            background: $bgColor;
        }
    }
}

.no-info {
    margin: auto;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
    animation: fadeInDown 0.5s;

    i {
        font-size: 48px;
    }

    p {
        font-size: 24px;
        font-weight: 500;
    }
}

.checkContainer input {
    vertical-align: middle;
}

.warn {
    color: red;
    font-weight: bold;
}

.contextMenu {
    display: none;
    position: absolute;
    min-width: 200px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 8px;
}
